    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% load staticfiles %}
    <link href="{% static "roboto.css" %}" rel='stylesheet' type='text/css'>
    <script src="{% static "jquery-1.11.3.min.js" %}"></script>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="{% static "bootstrap-3.3.5-dist/css/bootstrap.min.css" %}">
    <!-- Optional theme -->
    <link rel="stylesheet" href="{% static "bootstrap-3.3.5-dist/css/bootstrap-theme.min.css" %}">
    <!-- custom CSS -->
    <link rel="stylesheet" href="{% static "main.css" %}" />
    <!-- Latest compiled and minified JavaScript -->
    <script src="{% static "bootstrap-3.3.5-dist/js/bootstrap.min.js" %}"></script>
    <script type="text/javascript">
        $(function () {
            $('[data-toggle="tooltip"]').tooltip()
            $('[data-toggle="popover"]').popover('show')
        })
    </script>
    <title>
        {% if section_name %}
            {{ section_name }} - CABS
        {% else %}
            CABS
        {% endif %}
    </title>
