#!/bin/bash
[Unit]
Description="Connection Automation Brokerage System (CABS)"

[Service]
ExecStart=/usr/local/sbin/cabsbrokerd

[Install]
WantedBy=multi-user.target
